<!DOCTYPE html>
<html>
<head>
       <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
,


</head>
<body>
<div id="map" style="width: 1220px; height: 600px;"></div>

<script>
    var map = L.map('map').setView([44.30558420053831,-69.9765605829884], 7)
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

  var redIcon = L.icon({
  iconUrl:'../static/red.png',
  iconSize:[32,32],
  iconAnchor:[22,94],
  shadowAnchor: [4, 52],
  })

  var blueIcon = L.icon({
  iconUrl:'../static/blue.png',
  iconSize:[32,32],
  iconAnchor:[22,94],
  shadowAnchor: [4, 52],
  })
  
  var red_list = {{red}}
  var blue_list = {{blue}}

  for(let i=0; i<red_list.length; i++){

  var marker = L.marker([red_list[i][1], red_list[i][0]],{icon:redIcon}).addTo(map);
  }

  for(let i=0; i<blue_list.length; i++){

  var marker = L.marker([blue_list[i][1], blue_list[i][0]],{icon:blueIcon}).addTo(map);
  }

</script>


</body>
</html>